<div class="fs-container">
    <div class="inner-fs">
        <img src="assets/logo-bbi-warna.png" alt="Logo Bisnis Bermentor Indonesia">
        <h1 class="coming-soon" align="center">Mohon maaf website kami sedang dalam perbaikan!<br>Kami segera menyapa Anda kembali!</h1>
        <div class="row">
            <form class="form-kontak" action="">
                <input type="text" class="form-control" placeholder="Nama Anda">
                <input type="email" class="form-control" placeholder="Email Anda">
                <input type="text" class="form-control" placeholder="Subjek Pesan">
                <textarea name="pesan" id="" class="form-control" placeholder="Pesan Anda"></textarea>
                <button class="btn" type="submit">Kirim</button>
            </form>
        </div>
        <ul class="soc-med">
            <li><a href=""><i class="fa fa-facebook-f"></i></a></li>
            <li><a href=""><i class="fa fa-instagram"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
</div>