<div class="fs-container">
    <div class="inner-fs">
        <img src="assets/logo-bbi-warna.png" alt="Logo Bisnis Bermentor Indonesia">
        <div class="row">
            <ul class="services clearfix">
                <li><p>Konsultasi</p></li>
                <li><p>Pelatihan</p></li>
                <li><p>Operator Bisnis</p></li>
                <li><p>Komunitas</p></li>
            </ul>
        </div>
        <h1 class="coming-soon" align="center">Mohon maaf website kami sedang dalam perbaikan!<br>Kami segera menyapa Anda kembali!</h1>
        <div class="row">
            <form class="form-kontak" [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
                <input formControlName="name" type="text" class="form-control" placeholder="Nama Lengkap" required>
                <input formControlName="email" type="email" class="form-control" placeholder="Email Anda" required>
                <input formControlName="subject" type="text" class="form-control" placeholder="Subjek Pesan" required>
                <textarea formControlName="message" class="form-control" placeholder="Pesan Anda" required></textarea>
                <input type="submit" class="btn" value="Kirim">
                <!--<button class="btn" type="submit">Kirim</button>-->
            </form>
        </div>
        <ul class="soc-med">
            <li><a href="https://www.facebook.com/bisnisbermentor/"><i class="fa fa-facebook-f"></i></a></li>
            <li><a href="https://www.instagram.com/bisnisbermentor/"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.linkedin.com/in/pt-bisnis-bermentor-indonesia-11470412b/"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
</div>